
	<div class="header">
		<h1> Estacionamento </h1>
    <a href="#sign_out" class="sign_out">sair</a>
	</div>
  <div class="content" align="center" id="acesso">
    <img src="imagens/logo.png" height="47" width="204"/>
    <table>
      
      <tr>
        <td>
          <a href="entrada.html" class="link-buttons"><img src="imagens/24/entrada24.png"/>ENTRADA - Clique para entrar</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="saida.html" class="link-buttons"><img src="imagens/24/saida24.png"/>SAÍDA - Clique para sair</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#history" class="link-buttons"><img src="imagens/24/list24.png"/>Histórico</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#edit" class="link-buttons"><img src="imagens/24/user24.png"/>Dados Cadastro</a>
        </td>
      </tr>
   </table>
  </div>
  <div class="modal" align="center">
    <div class="title">
      <span id="line">Enviando solicitação</span>
      <div class="loader">
        <img src="imagens/loader.gif" style="heigth:40%" style="display:none"/><span>Por favor aguarde...</span>
      </div>
    </div>
  </div>
