
html {
    height: 100%;
}
a {
    color: #FFFFFF;
}
body, h1, h2, h3, h4, h5, h6, a, ul, li, button, input, table, tr, td {
    font-family: Rotis;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
div.body-container {
    margin: auto;
    width: 93%;
}
.error {
    animation-delay: 1s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: BordaAnimada;
    animation-play-state: running;
    animation-timing-function: ease;
    background-image: url("../imagens/24/notvalid24.png") !important;
    background-repeat: no-repeat !important;
    border: thin solid rgba(255, 65, 103, 0.37) !important;
}
.separator {
    background-color: #666666;
    height: 3px;
    width: auto;
}
.error2 {
    animation-delay: 1s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: BordaAnimada;
    animation-play-state: running;
    animation-timing-function: ease;
    border: thin solid rgba(255, 65, 103, 0.37) !important;
}
.selected {
    box-shadow: 0 0 6px #000000 inset;
    color: #000000;
}
a.bottom-menu {
    display: inline-block;
}
.bottom-menu > img {
    display: block;
    margin: auto;
}
@-moz-keyframes BordaAnimada {
0% {
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.27) inset;
}
100% {
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.51) inset;
}
}
div.header {
    background: -moz-linear-gradient(center top , #44494D 0%, #282D31 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: thin solid #454549;
    height: 7%;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99;
}
div.header a {
    background: -moz-linear-gradient(center top , #44494D 0%, #000000 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: thin solid #666666;
    border-radius: 2px;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1.8rem;
    margin-left: 0.3rem;
    padding: 0 5px 0 3px;
    position: absolute;
    vertical-align: bottom;
}
div.header img {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.57) inset;
    padding: 2px;
    vertical-align: sub;
}
div.header h1 {
    color: #FFFFFF;
    display: block;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin: 0;
}
body {
    background-color: #2B2933;
}
div.content {
    align-self: center;
    height: 100%;
    margin: 45px auto auto;
    width: 91%;
}
div.content img[src="imagens/logo.png"] {
    height: auto;
    margin-top: 2%;
}
@media not all {
div.content img[src="imagens/logo.png"] {
    height: auto;
    margin-top: 2%;
    width: 70%;
}
}
div.content table {
    border-spacing: 0.6rem;
    width: 100%;
}
div.content tr {
    margin: auto auto 3%;
}
div.content table tr td a.link-buttons {
    background-color: #06050D;
    border-radius: 3px;
    display: block;
    font-size: 0.85rem;
    height: 50%;
    line-height: 50px;
    padding: 0 8px;
}
div.content table tr td img {
    margin-top: 0;
    padding: 0 8px;
    vertical-align: sub;
}
.modal {
    background-color: rgba(0, 0, 0, 0.38);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}
div.modal {
    background-color: rgba(0, 0, 0, 0.38);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}
.terms-title {
    height: 92%;
    margin-bottom: 20px;
    overflow: auto;
    padding: 8px;
}
div.title {
    background-color: #FFFFFF;
    margin: 50% auto auto;
    padding: 8px 3px;
    width: 74%;
}
div.title span#line {
    border-bottom: 1px solid #3FB1BB;
    color: #3FB1BB;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}
div.loader {
    display: block;
    line-height: 1.2rem;
    margin-top: 3%;
}
div.loader span {
    font-size: 1.6rem;
    line-height: 1.2rem;
    margin-left: 11px;
    vertical-align: 0.8rem;
}
div.modal .loader img {
    display: none;
    height: auto;
    width: 20%;
}
div#code {
    background-color: #FFFFFF;
    border-radius: 3px;
    display: block;
    margin: 8% 0 0;
    padding: 10px;
    transition: all 0.2s ease 0s;
    width: 82%;
}
div.footer_qrcode {
    border-bottom: medium none;
    color: #DDCA2A;
    font-size: 1rem;
    margin-top: 4%;
    padding-bottom: 0;
}
div.content table tr td span#firstline, span#secondline {
    color: #CCCCCC;
    font-size: 0.9rem;
}
div.content table tr td span#secondline {
    font-size: 0.8rem;
}
div.content input[type="password"], input[type="text"], input[type="number"] {
    background-color: #1C1C24;
    background-image: url("../imagens/24/lock24.png");
    background-position: 11px 10px;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 1.3rem;
    padding: 11px 11px 10px 43px;
    width: 78%;
}
div.content input[type="text"] {
    background-image: url("../imagens/24/user24.png");
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label span {
    background: url("../imagens/check_radio_sheet.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    width: 19px;
}
input[type="checkbox"]:checked + label span {
    background: url("../imagens/check_radio_sheet.png") no-repeat scroll -19px top rgba(0, 0, 0, 0);
}
label {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 0.78rem;
}
a.button {
    background-color: #134F67 !important;
    border-radius: 2px;
    text-align: center;
}
div.content div.footer {
    border-top: thin solid #999999;
    color: #CCCCCC;
    font-size: 0.9rem;
    margin-top: 8%;
    padding-bottom: 0;
    padding-top: 5%;
}
div.content input {
    font-size: 0.9rem !important;
    padding: 16px 11px 10px 43px !important;
}
div.content input#retype-senha {
    background-image: url("../imagens/24/key24.png");
}
div.content input#cellphone, input#phone {
    background-image: url("../imagens/24/mobile24.png");
}
div.content input#email {
    background-image: url("../imagens/24/email24.png");
}
div#addcell {
    border-top: thin solid rgba(112, 112, 112, 0.81);
    margin-top: 5%;
    padding-top: 3%;
}
div#addcell span {
    color: #FFFFFF;
    font-size: 0.9rem;
}
div#addcell input[type="number"] {
    background-image: url("../imagens/24/mobile24.png");
    border-radius: 4px;
}
div#addcell img {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: sub;
}
div#addcell ul {
    width: 78%;
}
div#addcell ul span {
    background-color: #32353C;
    color: #FFFFFF;
    float: left;
    font-size: 1rem;
    padding: 2px 33px;
}
div#addcell ul span#btn-remover {
    background-color: #FFFFFF;
    color: #3A555C;
    cursor: pointer;
    float: right;
    padding: 1px;
}
div#addcell table {
    border-spacing: 0 !important;
}
.addeditem {
    border-bottom: thin solid #CCCCCC;
    padding-bottom: 2%;
    padding-top: 2%;
}
div#creditcard {
    margin: 3% auto auto;
    width: 100%;
}
div#creditcard span {
    color: #CCCCCC;
    font-size: 0.95rem;
}
div#creditcard select {
    background: url("../imagens/24/select-down24.png") no-repeat scroll right center #A62B40;
    border: 1px solid #A62B40;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 4%;
    overflow: hidden;
    padding: 2px;
    width: 98px;
}
div#creditcard table {
    border-spacing: 0.5rem;
    margin: 0 auto auto;
    width: 84%;
}
div#creditcard table input {
    font-size: 0.9rem !important;
}
div#creditcard .no-css {
    background-image: none;
    margin-top: -10%;
    padding: 10px 0 10px 10px;
    width: 81%;
}
div#creditcard table input#card-name {
    background-image: url("../imagens/24/user24.png");
}
div#creditcard table input#card-number, input#card-name {
    background-image: url("../imagens/24/creditcard24.png");
    background-position: 8px 7px;
    width: 75%;
}
div#terms {
    align-items: center;
    color: #FFFFFF;
    margin-top: 3%;
    text-decoration: underline;
}
input.button[type="submit"] {
    background-color: #A62B40 !important;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 0.9rem !important;
    height: 50%;
    padding: 10px !important;
    width: 93%;
}
input#submit {
    margin-top: 5%;
    width: 58%;
}
a#cadastrar {
    margin-bottom: 9%;
    margin-top: 9%;
    width: 57%;
}
div#background-div {
    background-color: #FFFFFF;
    margin: -18px !important;
    width: 100%;
}
div#background-div table {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 0.7rem;
    left: 0 !important;
    position: absolute;
    top: 46px;
    width: 100%;
}
table tr td.checker {
    padding-left: 3%;
}
div.footer {
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-top: 6%;
}
div.footer-menu {
    background: none repeat scroll 0 0 #808080;
    bottom: 0;
    color: #FFFFFF;
    font-size: 0.8rem;
    position: fixed;
    text-align: center;
    width: 100%;
}
div.footer-menu table {
    width: 100%;
}
div.footer-menu table tr td {
    background-color: #A62B40 !important;
    border-radius: 2px;
    display: table-cell;
    height: 60px;
    padding: 2px;
    width: 20%;
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
div#creditcard .no-css {
    width: 68%;
}
div.footer {
    margin-top: 6%;
}
input.button[type="submit"] {
    width: 85%;
}
div#acesso {
    width: 70%;
}
div#code {
    width: 55%;
}
}
@media only screen and (min-width: 360px) {
input.button[type="submit"] {
    font-size: 1rem !important;
}
div.content table tr td span#firstline, span#secondline {
    font-size: 0.99rem;
}
div.content table tr td span#secondline {
    font-size: 0.9rem;
}
div.content input {
    font-size: 1rem !important;
}
div#addcell span {
    font-size: 0.9rem;
}
div#creditcard span {
    font-size: 0.9rem;
}
div#creditcard select {
    width: 110px;
}
label {
    font-size: 1rem;
}
div.footer {
    font-size: 1rem;
    margin-top: 29%;
}
div#outer-line {
    margin-top: 7%;
}
table tr td.checker {
    padding-left: 6%;
}
}
@media only screen and (min-width: 360px) and (orientation: landscape) {
div.footer {
    margin-top: 6%;
}
input.button[type="submit"] {
    width: 77%;
}
}
@media only screen and (min-width: 768px) {
div.content {
    align-self: center;
    height: auto;
    margin: 10% auto auto;
    width: 75%;
}
div.content table tr td span#firstline, span#secondline {
    font-size: 1.4rem;
}
div.content table tr td span#secondline {
    font-size: 1.2rem;
}
div.content input[type="password"], input[type="text"], input[type="number"] {
    background-position: 11px 13px;
    width: 85%;
}
div#addcell span {
    font-size: 1.2rem;
}
div#creditcard span {
    font-size: 1.1rem;
}
div.content input, div#creditcard table tr td input {
    font-size: 1.2rem !important;
}
input.button[type="submit"] {
    font-size: 1.3rem !important;
    padding: 16px !important;
}
table tr td.checker {
    padding-left: 9%;
}
label {
    font-size: 1.2rem;
}
div.footer {
    font-size: 1.3rem;
    margin-top: 18%;
}
div#creditcard {
    align-self: center;
    height: auto;
    margin: 2% auto auto;
    width: 75%;
}
div#creditcard table tr td input {
    background-position: 8px 9px !important;
}
div#creditcard .no-css {
    background-image: none;
    margin-top: -3%;
    padding: 10px 0 10px 10px;
    width: 81%;
}
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
div.footer {
    margin-top: 7%;
}
}
@media only screen and (min-width: 800px) and (orientation: landscape) {
input.button[type="submit"] {
    width: 84% !important;
}
}
@media only screen and (min-width: 980px) {
input.button[type="submit"] {
    width: 88%;
}
}
@media only screen and (min-width: 1280px) {
}
.sign_out {
    position: absolute;
    right: 8px;
    top: 7px;
    width: 11%;
}
#history_list > tr {
    font-size: 17px;
    height: 50px;
    letter-spacing: -0.8px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.07, #FFFAFF),
		color-stop(1, #EBEBEB)
	);
	background-image: -o-linear-gradient(bottom, #FFFAFF 7%, #EBEBEB 100%);
	background-image: -moz-linear-gradient(bottom, #FFFAFF 7%, #EBEBEB 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFAFF 7%, #EBEBEB 100%);
	background-image: -ms-linear-gradient(bottom, #FFFAFF 7%, #EBEBEB 100%);
	background-image: linear-gradient(to bottom, #FFFAFF 7%, #EBEBEB 100%);
}
table#history-table {
    border-spacing: 0 !important;
}
table#history-table td {
    border-top: 1px solid #FFFFFF;
}
tr#table-header {
    background: none repeat scroll 0 0 #808080;
    color: #FFFFFF;
    font-size: 18px;
    height: 38px;
}
#history_list > tr:hover {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    opacity: 0.51;
}

#modal {
    background: none repeat scroll 0 0 rgba(100, 100, 100, 0.6);
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

#modal > * {
    position: relative;
    text-align: center;
    top: 48%;
}
.js-modal{
    margin-top: 42px;
}